.footer {
    background-color: var(--footer-bg);
    padding: 40px 0;
    &-flex {
        @include flex(center, space-between);
        max-width: 1140px;
    }
    &-contacts {
        @include list-reset;
    }
    &-contact {
        color: var(--clr-400);
        a {
            @include flex(center);
            column-gap: 10px;
            color: inherit;
        }
        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
    &-btn{
        background: #FCD072;
        border-radius: 63px;
        padding: 10px 12px;
        button{
            background: transparent;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #1E1E1E;
        }
    }
    &-nav {
        &-list {
            @include list-reset;
            @include flex(center);
            column-gap: 78px;
        }
        &-item {
            color: var(--clr-600);
            a {
                color: inherit;
            }
        }
    }
    &-group {
        @media (min-width: 1024px) {
            display: contents;
        }
    }
}

@media (max-width: 1139px) {
    .footer {
        &-nav-list {
            column-gap: clamp(20px, 4.5vw, 60px);
        }
    }
}

@media (max-width: 1023px) {
    .footer {
        &-logo {
            max-width: 72px;
        }
        &-group {
            @include flex(center, space-between);
            column-gap: 60px;
        }
    }
}

@media (max-width: 889px) {
    .footer {
        &-flex {
            width: 100%;
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        &-flex {
            align-items: center;
        }
        &-nav {
            margin: 0 auto;
            &-list {
                flex-direction: column;
                row-gap: 20px;
            }
        }
        
        &-group {
            @include flex(center, space-between);
            column-gap: 10px;
            width: 100%;
        }
    }
}