.header {
    background: var(--header-bg);
    padding: 16px 0;
    font-size: 16px;
    line-height: 22px;
    &-flex {
        @include flex(center, space-between);
    }
    &-nav {
        &-list {
            @include list-reset;
            @include flex(center);
            column-gap: 136px;
        }
        &-item {
            color: var(--clr-600);
            a {
                color: inherit;
            }
        }
    }
    &-langs {
        @include list-reset;
        @include flex(center);
        column-gap: 10px;
    }
    &-lang {
        color: var(--clr-600);
        &--active {
            color: var(--clr-400);
        }
        a {
            color: inherit;
        }
    }
    &-menu {
        @media (min-width: 1024px) {
            display: contents;
        }
    }
}

@media (max-width: 1439px) {
    .header {
        &-nav {
            &-list {
                column-gap: clamp(20px, 8vw, 130px);
            }
        }
    }
}

@media (max-width: 1023px) {
    .header {
        &-logo {
            max-width: 72px;
            position: relative;
            z-index: 1010;
        }
        &-trigger {
            position: relative;
            background: unset;
            padding: 10px;
            border: 0;
            z-index: 1010
        }
        &-menu, &-nav-list {
            @include flex(center, center);
            flex-direction: column;
        }
        &-menu {
            padding-top: 40px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: var(--header-bg);
            row-gap: 100px;
            opacity: 0;
            visibility: hidden;
            transition: all .5s;
            z-index: 1000;
            &--active {
                opacity: 1;
                visibility: visible;
            }
        }
        &-nav-list {
            row-gap: 30px;
        }
    }
}