.hero {
    position: relative;
    padding: 90px 0;
    background: url('../img/hero-bg-1920.png') center top / cover no-repeat;
    @media (max-width: 1460px) {
        background-image: url('../img/hero-bg.png');
    }
    &-text {
        color: var(--clr-400);
    }
    &-subtitle, &-text, &-btn {
        margin-top: 25px;
    }
    &-wrap {
        max-width: 54%;
    }
    &-subtitle {
        max-width: 560px;
    }
    &-info {
        color: var(--clr-400);
        max-width: 290px;
        &--desktop {
            position: absolute;
            bottom: 5px;
            right: 33px;
        }
    }
}

@media (max-width: 1439px) {
    .hero {
        &-wrap {
            max-width: 52%;
        }
    }
}

@media (max-width: 1023px) {
    .hero {
        &-wrap {
            max-width: 55%;
        }
    }
}

@media (max-width: 767px) {
    .hero {
        padding: 24px 0;
        background: #141414;
        text-align: center;
        &-wrap {
            max-width: unset;
            @include flex(center);
            flex-direction: column;
        }
        &-subtitle, &-text, &-btn, &-img {
            margin-top: 20px;
        }
        &-info {
            &--desktop {
                display: none;
            }
            &--mobile {
                text-align: center;
                font-size: 12px;
                line-height: 16px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 419px) {
    .hero {
        &-subtitle {
            // margin-top: -20px;
        }
        &-img {
            margin: 20px -20px 0;
        }
        &-info {
            &--mobile {
                margin-top: -40px;
            }
        }
    }
}