.join {
    padding: 100px 0;
    background: url('../img/join-bg.png') center bottom / cover no-repeat;
    &-wrap {
        margin-top: 80px;
        @include flex(center, center);
        flex-direction: column;
        row-gap: 50px;
        counter-reset: card;
    }
    &-card {
        background: linear-gradient(92.81deg, #262626 12%, #000000 96%);
        border: 1px solid var(--clr-400);
        border-radius: 15px;
        @include flex(center, space-between);
        width: 100%;
        max-width: 760px;
        min-height: 240px;
        counter-increment: card;
        overflow: hidden;
        &-side {
            max-width: 395px;
            padding: 30px 0 30px 85px;
        }
        &-info {
            max-width: 360px;
            opacity: .6;
            font-size: 12px;
            padding-bottom: 5px;
        }
        &-title {
            position: relative;
            &::before {
                content: counter(card);
                position: absolute;
                color: var(--clr-500);
                font-family: var(--ff-200);
                font-size: 4.75em;
                width: 0.421em;
                top: 8px;
                left: -0.59em;
                text-align: center;
            }
        }
        &-text {
            margin-top: 10px;
            color: var(--clr-500);
        }
        &-img {
            max-width: 440px;
            &--align-self-end {
                align-self: flex-end;
            }
            @media (min-width: 1024px) {
                margin-left: -60px;
                flex-shrink: 0;
            }
        }
    }
    &-subtitle {
        max-width: 580px;
        margin: 50px auto 0;
        text-align: center;
    }
    &-btn {
        display: block;
        margin: 50px auto 0;
        max-width: max-content;
    }
}

@media (max-width: 767px) {
    .join {
        padding: 40px 0;
        &-wrap {
            margin-top: 40px;
            row-gap: 25px;
        }
        &-card {
            flex-direction: column;
            &-side {
                max-width: none;
                padding: 20px 40px 20px 70px;
            }
            &-title {
                &::before {
                    font-size: 3.2em;
                    width: 0.421em;
                    top: 8px;
                    left: -.75em;
                }
            }
            &-text {
                &.hide-on-mobile {
                    display: none;
                }
            }
            &-img {
                margin-top: -10px;
                max-width: 280px;
            }
        }
    }
}